*{box-sizing: border-box;}

.wrapper{
	display: grid;
	grid-gap: 5px;
	height: 100vh;
	margin:0;
	font-family: 'Lora', 'serif';
	font-size: 1em;
	
}

.wrapper>*{
	border: 2px solid #332e3c;
	border-radius: 5px;
	background: #eee;
	padding: 10px ;
	font-family: 'Lora', 'serif';
	font-size: 1em;
}

.wrapper h3{
	text-transform: uppercase;
	text-align: center;}


.h{	
	grid-area: header;
	background: #332e3c;
	color: white;
	text-align: center;
	font-size: 2em;
	line-height: 40px;

}

.n{ 
	grid-area: navbar;
	flex-direction: row;
	display: flex;
	justify-content:space-around;
}

.n a{
	flex: 1;
	background: #a29587;
	color:white;
	margin: 0.25em;
	padding:1em;
	text-align: center;
}

.n a:hover{
	background: #846c5b;

}

.main{grid-area: main;}

.main img{
	float:left;
	margin: 0 10px;
	max-width: 100%;
	border: 4px solid white;}

.main img:after{
	content: "";
	display: table;
	clear: both;
}

.side{grid-area: sidebar;}

.ads{grid-area: ad;}

.ads,.side,.n{
	background: #c4b2bc;
}

.ads img{max-width: 100%}

.ads img:after{
	content: "";
	display: table;
	clear: both;
}

.f{	
	grid-area: footer;
	background: #332e3c;
	color: white;
	text-align: center;
	font-size: 1.2em;
	padding: 10px;
	line-height: 40px;

}

@media(min-width: 500px){
	.wrapper{
	grid-template-columns: 1fr;
	grid-template-rows:200px 80px 1fr  ;
	grid-template-areas: "header" "navbar" "main" "sidebar" "ad" "footer";
	background: #332e3c;
	}
}

@media(min-width: 700px){
	.wrapper{
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows:200px  1fr 120px ;
	grid-template-areas: "header header header" "navbar main sidebar" "navbar main ad" "footer footer footer";
	background:#332e3c;
	}

	.n{
		flex-direction: column;
		justify-content: flex-start;
	}
}
